<fieldset>
  <legend>Test inputs:</legend>

  <div>
    <label for="standard_input">Standard Input</label>
    <input type="text" id="standard_input">
  </div>

  <br>

  <div>
    <label for="value_input">Input with value</label>
    <input type="text" value="test" id="value_input">
  </div>

  <br>

  <div>
    <label for="placeholder_input">Input with placeholder</label>
    <input type="text" placeholder="placeholder" id="placeholder_input">
  </div>

  <br>

  <div>
    <label for="disabled_input">Disabled input</label>
    <input type="text" placeholder="test disabled" id="disabled_input" disabled>
  </div>
</fieldset>

<fieldset>
  <legend>Test radio buttons:</legend>

  <div>
    <%= label_tag(:eval_grade_Q1, "Q1") %>
    <%= radio_button_tag(:eval_grade, :Q1) %>
  </div>

  <br>

  <div>
    <%= label_tag(:eval_grade_Q2, "Q2") %>
    <%= radio_button_tag(:eval_grade, :Q2) %>
  </div>

  <br>

  <div>
    <%= label_tag(:eval_grade_Q3, "Q3") %>
    <%= radio_button_tag(:eval_grade, :Q3) %>
  </div>

  <br>

  <div>
    <input type="radio" id="test" name="drone" value="test">Test
  </div>

  <div>
    <input type="radio" id="huey" name="drone" value="huey" checked>
    <label for="huey">Huey</label>
  </div>

  <div>
    <input type="radio" id="dewey" name="drone" value="dewey">
    <label for="dewey">Dewey</label>
  </div>

  <div>
    <input type="radio" id="louie" name="drone" value="louie">
    <label for="louie">Louie</label>
  </div>

  <div>
    <input type="checkbox" name="cb1"/>Option 1
    <input type="checkbox" name="cb2"/>Option 2
    <input type="checkbox" name="cb2"/>Option 3
  </div>

  <div>
    <input type="radio" name="rb1"/>Radio Option 1
    <input type="radio" name="rb1"/>Radio Option 2
    <input type="radio" name="rb1"/>Radio Option 3
  </div>
</fieldset>

<fieldset>
  <legend>Test checkbox buttons:</legend>

  <div>
    <input type="checkbox" name="checkbox1"><br>
    <label for="checkbox1">Huey</label>
  </div>

  <div>
    <input type="checkbox" name="checkbox2" checked><br>
    <label for="checkbox2">Dewey</label>
  </div>
</fieldset>

<fieldset>
  <legend>Test select element:</legend>

  <div>
    <label for="pet-select">Choose a pet:</label>
    <select name="pets" id="pet-select">
      <option value="">--Please choose an option--</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="hamster">Hamster</option>
      <option value="parrot">Parrot</option>
      <option value="spider">Spider</option>
      <option value="goldfish">Goldfish</option>
    </select>
  </div>

  <br>

  <div>
    <label for="cars">Choose a car:</label>
    <select name="cars" id="cars">
      <optgroup label="Swedish Cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
      </optgroup>
      <optgroup label="German Cars">
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </optgroup>
    </select>
  </div>
</fieldset>
